@use "../abstracts" as *;

.interactive-card {
  position: relative;
  height: 400px;
  background-color: $egg-blue;
  text-align: center;

  &:hover &__overlay {
    opacity: 1;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba($meat, 0.9),
      rgba($daisy-yellow, 0.9)
    );
    transition: all ease-in-out 0.2s;
  }

  &__photo-wrapper {
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.2s;

    &:hover {
      transform: translate(-10px, -10px);
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--shifted {
      object-position: 20% top;
    }
  }

  &__icons-wrapper {
    background-color: $meat;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
  }

  &__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: $daisy-yellow;
    transition: background-color ease-in-out 0.2s;

    &:hover {
      background-color: $meat;
    }

    &:hover .interactive-card__icon {
      path {
        fill: $white;
      }
    }
  }

  &__icon {
    path {
      fill: $meat;
      transition: fill ease-in-out 0.2s;
    }
  }

  &__title {
    text-transform: capitalize;
    font-family: $font-montserrat;
  }

  &__subtitle {
    text-transform: capitalize;
    font: normal 400 15px / 24px $font-roboto;
  }
}
